#[.cs]
# http://editorconfig.org/
[*]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
[*.cs]

# IDE0037: Use inferred member name
dotnet_style_prefer_inferred_tuple_names = true:suggestion
